@import "../../sass/utilities/variables";

.button {
  border-radius: 30px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  background: $color-orange;
  color: $color-white;
  padding: 0 29px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    background: rgba(164, 167, 183, 0.4);
  }
}
