$color-orange: #ea6852;
$color-white: #ffffff;
$color-grey: #cbd6e2;
$color-black: #000000;
$color-text: #334667;
$color-sub-text: #7a7d8c;
$color-light-blue: #0a74dc;
$color-label: #33475b;
$color-error: #f2545b;
$color-background: #fbfcfd;
